<div ng-controller="roomCTRL" ng-init="initialize()">
        <md-progress-linear md-mode="indeterminate" ng-show="isProgress"></md-progress-linear>
    
        <md-button  ng-click="add()" class="md-fab md-mini plus-button" aria-label="Add">
            <md-icon md-svg-src="./img/icons/add.svg"></md-icon>
        </md-button>

        <!-- <md-content>
             <md-list>
                <md-list-item class="md-3-line" ng-repeat="item in listOfRoom">
                        <img ng-src="./img/icons/round-meeting-room.svg" class="md-avatar" alt="icon" />
                    <div class="md-list-item-text">
                        <h3>Room No : {{item.RoomNo}}</h3>
                    </div>
                    <md-button class="md-secondary" ng-disabled="isProgress" ng-click="edit(item.RoomID)">
                            <md-icon  md-svg-icon="img/icons/create-24.svg"></md-icon>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
                <p ng-hide="listOfRoom.length" style="text-align: center;">No data available</p>
            </md-list> 
        </md-content> -->

        <md-card class="card-green"  md-theme="default"  md-theme-watch ng-repeat="item in listOfRoom">
            <span class="md-title" style="margin-left: 10px;margin-top: 10px;">Your Info</span>
            <md-card-header>
              <md-card-avatar>
                <img ng-src="./img/icons/account_circle.svg" class="md-avatar" alt="user-icon" />
              </md-card-avatar>
              <md-card-header-text style="min-height:130px; margin-left:10px">
                <span class="md-title">{{tenant.FullName}}</span>
                <span class="md-subhead text-color-faint">Tenant No : {{tenant.TenantNo}}</span>
                <span class="md-subhead text-color-faint">Room No : {{tenant.Room.RoomNo}}</span>
                <span class="md-subhead text-color-faint" ng-show="tenant.CheckInDate">Check In : {{tenant.CheckInDate | date : "dd-MMM-yyyy"}}</span>
                <span class="md-subhead text-color-faint" ng-show="tenant.CheckOutDate">Check Out : {{tenant.CheckOutDate | date : "dd-MMM-yyyy"}}</span>
                <span class="md-subhead" style="color:green" ng-show="tenant.IsActive">Activated</span>
                <span class="md-subhead" style="color:red"   ng-hide="tenant.IsActive">Deactivated</span>
              </md-card-header-text>
            </md-card-header>
        </md-card>
    
    </div>